<%= form_with(model: case_doc, local: true) do |form| %>
  <% if case_doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_doc.errors.count, "error") %> prohibited this case_doc from being saved:</h2>

      <ul>
        <% case_doc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :document_name %>
    <%= form.file_field :document_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
