<% if current_user %>
  Logged in as <%= current_user.email %><br><br><br><br><br>
  Case: <%= current_user.case %> <%= link_to 'New Case Doc', new_case_doc_path %>
  <br>
  State: <%= current_user.state %>
  <br>
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or
  <%= link_to 'Log In', login_path %>
<% end %>
<p id='notice'>
  <%= notice %></p>
