<p id="notice"><%= notice %></p>

<h1>Juniors</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @juniors.each do |junior| %>
      <tr>
        <td><%= junior.email %></td>
        <td><%= link_to 'Show', junior %></td>
        <td><%= link_to 'Edit', edit_junior_path(junior) %></td>
        <td><%= link_to 'Destroy', junior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Junior', new_junior_path %>
